body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

hr {
  display: block;
  margin: 30px auto;
  width: 60%;
  max-width: 200px;
  height: 3px;
  background-color: hsl(0, 0%, 89%);
  border: none;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
}
